.calendarWidget {

}

.header {

}

.navigation{
	padding-left: 0;
	text-align: center;

	li{
		padding: 15px 30px;
		display: inline-block;
	}
}

.weeksList {
	&:after {
		content: "";
		display: block;
		clear: left;
	}
}

.weeksListItem {
	display: block;
	text-align: center;
	width: 14.2857142857%;
	font-weight: bold;
	float: left;
}

.daysList {
	&:after {
		content: "";
		display: block;
		clear: left;
	}
}

.day {
	width: 14.2857142857%;
	display: block;
	float: left;
	padding: 15px;
	border: 1px solid #e5e5e5;
	background: #fff;
	text-align: center;
}

.dayDisable{
	@extend .day;
	background: #f7f7f7;
}