.calendarWidget{

}
.header{
	&:after{
		content:"";
		display: block;
		clear:left;
	}
}
.title {
	width: 14.2857142857%;
	font-weight: bold;
	float:left;
}
.daysList{
	&:after{
		content:"";
		display: block;
		clear:left;
	}
}
.day{
	width: 14.2857142857%;
	display: block;
	float:left;
}